<h1>Edit students <%= @student.name %></h1>

<%= form_for @student do |t| %>

  <%= t.label :name %>
  <%= t.text_field :name %>

  <%= t.label :mod %>
  <%= t.text_field :mod %>

  <%= t.submit %>

<% end %>
