<h1>Have a dinner dear <%=@user.name%></h1>

<form method="post" action="/users/<%=@user.id%>">
  <label for="meal_id">Meals</label>
  <select name="meal_id">
    <% @meals.each do |meal| %>
      <option value="<%= meal.id %>"><%= meal.title %></option>
    <% end %>
  </select>
  <input type="hidden" name="user_id" value="<%=@user.id%>">
  
  <input type="submit" value="Create">
</form>