<h3>Edit information about <%= @doctor.name %></h3>

<%= form_for @doctor do |f| %>


  <% if flash[:errors] %>
    <% flash[:errors].each do |msg|%>
    <p><%= msg %></p>
    <% end %>
  <% end %>

  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.text_area :password %>
  <br>
  <%= f.label :doctor_spec %>
  <%= f.text_area :doctor_spec %>
  <br>
  <%= f.submit %><br>

<% end %>

<br>

<%= button_to "delete", @doctor, :method => :delete %>
