<p>Name: <%= @building.name %></p>
<p>Country: <%= @building.country %></p>
<p>Address: <%= @building.address %></p>
<p>Rent per floor: <%= @building.rent_per_floor %></p>
<p>How many floors: <%= @building.number_of_floor %></p>

<%= button_to "Delete building", @building, :method => :delete %>

<%= link_to "All buildings", buildings_path %>