<h3>Student Form</h3>
<form>
<%= form_tag students_path %>
  <label>First name:</label><br>
  <%= text_field_tag :'student[first_name]' %>
  <label>Last name:</label><br>
  <%= text_field_tag :'student[last_name]' %>
  <%= submit_tag "Submit Student" %>
</form>

<%= params.inspect %>