<h1> <%= @student.name %> </h1>
<h1> <%= @student.mod %> </h1>

<% @student.ducks.each do |duck| %>
  <%= duck.name %>
<% end %>


<%= button_to "Back list", students_path, method: :get %>
<%= button_to "Delete", student_path(@student), method: :delete %>
<%= button_to "Edit", edit_student_path, method: :get %>
