<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<p>Author: <%= link_to @post.user.name, user_path(@post.user_id) %></p>

<%= button_to "delete", @post, :method => :delete %>
<br>

<p><%= link_to "All posts", posts_path %></p>